<launch>
  <!-- Arguments -->
  <arg name="gazebo_world_name" default="tiles" />
  <arg name="wheel_friction" default="0.1" />
  <arg name="radius" default="5.0" />
  <arg name="workspace" default="$(env HOME)/planner_code/mppi_swerve_drive_ros" />

  <!-- Launch Navigation -->
  <include file="$(arg workspace)/launch/navigation.launch">
    <arg name="gazebo_world_name" value="$(arg gazebo_world_name)" />
    <arg name="wheel_friction" value="$(arg wheel_friction)" />
    <arg name="initial_pose_x" value="0.0" />
    <arg name="initial_pose_y" value="0.0" />
    <arg name="initial_pose_yaw" value="0.0" />
    <arg name="use_amcl" value="false" />
  </include>

  <!-- Publish Circular Path -->
  <node pkg="mppi_h_circular_test" type="publish_circular_path.py" name="circular_path_publisher" output="screen">
    <param name="radius" value="$(arg radius)" />
  </node>

</launch>
